body{   
    margin: 0px;
}

/* animation classes */

@keyframes unlockedButton{
    100%{
        color: hsl(210, 0%, 100%);
        background-color: hsl(210, 0%, 0%);
        cursor: pointer;}
}

@keyframes lockedButton{
    100%{
        color: hsl(210, 0%, 25%);
        background-color: hsl(210, 0%, 75%);
        cursor: none;}
}

@keyframes fadeIn{
    0%{opacity: 100%;}
    80%{opacity: 100%;}
    100%{opacity: 0%;}
}

.animation-fadeIn{
    animation: fadeIn 5s ease;
}

.unlockedButton{
    animation: unlockedButton 300ms ease forwards;
}

.lockedButton{
    animation: lockedButton 300ms ease forwards;
}

/* spacer classes */
.vertical-spacer-10px{
    height: 10px;
}

.vertical-spacer-20px{
    height: 20px;
}

.vertical-spacer-40px{
    height: 40px;
}
/*header container*/
.header-container{
    display: flex;
    flex-direction: row;
    background-color: hsl(210, 0%, 100%);
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-container-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-menu-button{
    display: flex;
    border: none;
    background-color: hsl(210, 0%, 100%);
}

.header-menu-icon{
    color: hsl(210, 0%, 0%);
    height: 24px;
    cursor: pointer;
}

.spacer-24px{
    width: 24px;
}

.header-brand-name-tag{
    text-decoration: none;
}

.header-brand-name{
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
    font-size: 18px;
    font-weight: 700;
    color: hsl(210, 0%, 0%);
}

.header-shopping-cart-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: hsl(210, 0%, 100%);
}

.header-shopping-cart-icon{
    color: hsl(210, 0%, 0%);
    height: 24px;
    cursor: pointer;
}

.header-shopping-cart-number-icon-background{
    display: flex;
    position: absolute;
    z-index: 10;
    background-color: hsla(210, 0%, 0%, 100%);
    border-radius: 50px;
    border: none;
    height: 20px;
    width: 20px;
    transform: translate(13px, -7px);
    justify-content: center;
    align-items: center;
}

.header-shopping-cart-number-icon-number{
    color: hsl(210, 0%, 100%);
    font-weight: 400;
    font-size: 12px;
}

/* body classes */
.body-outer-container-main{
    display: flex;
    flex-direction: column;
}

.body-container-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    border-top: 1px solid hsla(210, 0%, 0%, 0.2);
}

.body-container-left{
    background-color: hsl(210, 0%, 100%);
    flex-grow: 1;
}

.body-container-right{
    background-color: hsl(210, 0%, 87.5%);
    border-left: 1px solid hsla(210, 0%, 0%, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 40px 40px;
    row-gap: 40px;
}


/* payment container classes */
.details-container{
    display: flex;
    flex-direction: column;
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
    padding: 20px 50px;
}

.details-label{
    font-size: 24px;
    font-weight: 700;
}

.details-input-box{
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid hsla(210, 0%, 0%, 0.2);
    width: 100%;
    transition: all 300ms ease-in-out;
    box-sizing: border-box;
    outline: none;
}

.details-input-box:focus{
    border: 1px solid hsla(210, 0%, 0%, 1);
}

.details-input-box::placeholder{
    font-size: 14px;
    font-weight: 400;
    color: hsl(210, 0%, 50%);
}

.card-details-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.flex-grow-half-half{
    flex-grow: 1;
}

.pay-now-button{
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
    font-size: 20px;
    font-weight: 700;
    color: hsl(210, 0%, 100%);
    background-color: hsl(210, 0%, 0%);
    border: none;
    width: 100%;
    padding: 20px 20px;
    cursor: pointer;

}

.pay-now-button:hover{
    background-color: hsl(210, 0%, 25%);
}


/* cart container classes */
.cart-container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.cart-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;

}

.cart-item-img{
    object-fit: cover;
    height: 80px;
    border: 1px solid hsla(210, 0%, 0%, 0.2);
    border-radius: 5px;
}

.cart-item-details{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 100%;
    max-width: 200px;
}

.cart-item-name{
    color: hsl(210, 0%, 0%);
    font-size: 18px;
    font-weight: 400;
    
}

.cart-item-qty{
    color: hsl(210, 0%, 50%);
    font-size: 14px;
    font-weight: 400;

}

.cart-item-price{
    color: hsl(210, 0%, 0%);
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;

}

.discount-code-gift-card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;

}

.discount-code-gift-card-subcontainer{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
}

.discount-code-gift-card-warning-subcontainer{
    padding-top: 10px;
    display: none;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.discount-code-gift-card-warning-icon{
    height: 16px;
}

.discount-code-gift-card-warning-message{
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 75%, 50%);
    padding-left: 5px;
}

.discount-code-gift-card-apply-button{
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid hsla(210, 0%, 0%, 0.2);
    color: hsl(210, 0%, 25%);
    background-color: hsl(210, 0%, 75%);
}


.price-container{
    display: flex;
    flex-direction: column;
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    row-gap: 10px;
}

.price-subcontainers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total-price-container{
    font-size: 20px;
    font-weight: 700;
}

.discount-price-text-code{
    display: none;
    font-size: 12px;
    font-weight: 400;
    color: hsl(210, 0%, 37.5%);
}


/* pop up message classes */

.pop-up-message-container{
    display: flex;
    opacity: 0%;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 50px;
    
}

.pop-up-message{
    font-size: 20px;
    font-weight: 700;
    color: hsl(210, 0%, 100%);
    background-color: hsl(210, 0%, 0%);
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/* pay now for small screen classes */
.pay-now-button-small-screen-container{
    display: none;
    justify-content: center;
    padding: 50px 50px;
}

.order-summary-div{
    display: none;
}